.sidebar {
  grid-column: 1/2;
  border-right: 1px solid #e4572e;
}

.main-area {
  grid-column: 3/7;
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar button {
  padding: 20px;
  background-color: #e4572e;
  color: white;
  border: none;
}
.sidebar button:nth-child(odd) {
  padding: 20px;
  background-color: #009688;
  color: white;
}

/** Ranker Card ***/

.ranker {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(50px, auto);
  background-color: #607d8b;
  color: white;
}
.ranker:nth-child(odd) .rank {
  background-color: #e4572e;
}
.ranker:nth-child(odd) .name {
  background-color: #009688;
}

.ranker .rank {
  background-color: #009688;
  grid-column: 1/2;
  display: grid;
}
.ranker .name {
  background-color: #e4572e;
  grid-column: 2/4;
  display: grid;
}

.ranker .name > div,
.ranker .rank > div {
  align-self: center;
}
