.quiz,
.quiz-body {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quiz-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  align-items: center;
}

.quiz-title {
  grid-column: 1/3;
  text-align: center;
}

.quiz-creator {
  grid-column: 3/4;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  justify-self: right;
}
.quiz-score {
  grid-column: 3/4;
  justify-self: right;
}

.question {
  background-color: #009688;
  color: #e8ebed;
  padding: 30px;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-auto-rows: minmax(50px, auto);
}
.question .q {
  font-weight: bolder;
  font-size: 50px;
  justify-self: center;
}

.question p {
  align-self: center;
}
.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.options .option {
  justify-self: stretch;
  align-self: center;
  background-color: #e8ebed;
  padding: 10px;
}
.option input[type="checkbox"] {
  margin: 20px;
  size: 20px;
}

.quiz-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  color: white;
  text-transform: uppercase;
}

.quiz-nav > a {
  padding: 10px;
  text-align: center;
  color: white;
}

.quiz-nav .submit {
  grid-column: 5/6;
}

/*****Quiz Info Card ********/

.quiz-list-category {
  display: grid;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 5px;
}

.categories > a {
  background-color: #009688;
  border-radius: 45px;
  color: white;
  width: minmax(40px, auto);
  height: 40px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: grid;
  position: relative;
}

.categories a:hover {
  background-color: #07756a;
}

.categories a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e4572e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.categories a:hover:after {
  width: 100%;
  left: 0;
  background-color: #07756a;
}

.categories > a > span {
  align-self: center;
}

.view-more-toggle {
  background-color: #e4572e !important;
  color: #fff;
}

.view-more-toggle:hover {
  background-color: #ad2f09 !important;
}

.quiz-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 20px;
}

.quiz-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: minmax(50px, auto);
  padding: 20px;
  width: 250px;
  background-color: #009688;
  border-radius: 3px;
}

.quiz-info:before,
.quiz-info:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  will-change: opacity;
}

.quiz-info:before {
  box-shadow: 0 35px 50px -30px #6febde;
}

.quiz-info:after {
  opacity: 0;
  box-shadow: 0 55px 50px -17px #8bf7ec;
}

.quiz-info:hover {
  transform: translateY(-5%);
}

.quiz-info:hover:before {
  opacity: 0;
}
.quiz-info:hover:after {
  opacity: 1;
}
.quiz-info:active {
  transform: translateY(5%) scale(0.9);
}
.quiz-info:active:before {
  opacity: 1;
}
.quiz-info:active:after {
  opacity: 0;
}

.quiz-info-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: baseline;
}
.quiz-name {
  grid-column: 1/3;
  align-self: center;
  font-size: large;
  font-weight: 400;
}
.quiz-attempt {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.quiz-attempt button {
  padding: 13px;
  border: none;
  background-color: #e4572e;
  color: white;
  border-radius: 20px;
  position: relative;
}

.quiz-attempt button:hover {
  background-color: #852204;
  color: #fff;
}
.quiz-attempt button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.quiz-attempt button:hover:after {
  width: 100%;
  left: 0;
}

.quiz-details {
  justify-self: right;
  text-align: right;
}

/** Question Navigator ***/

.question-navigator {
  grid-column: 1/2;
  border-right: 1px dashed #e4572e;
  max-height: 80vh;
  overflow-y: auto;
}

.question-navigator {
  display: flex;
  flex-direction: column;
}
.question-navigator a {
  padding: 20px;
  background-color: #e4572e;
  color: white;
  border: none;
}
.question-navigator a:nth-child(odd) {
  padding: 20px;
  background-color: #e8ebed;
  color: black;
}

/*****/
.marked {
  background-color: #b0fe76 !important;
  color: black;
}

/***ScoreCard *****/

.scorecard {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-content: center;
}

.scorecard .res {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.scorecard a {
  padding: 10px;
  margin: 20px;
  background-color: #009688;
  color: white;
  justify-self: center;
}

/*** New Quiz Form **/

.for-guest-user {
  display: grid;
  width: 100vw;
  justify-content: center;
  align-content: center;
}
