.quiz,
.quiz-body {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quiz-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  align-items: center;
}

.quiz-title {
  grid-column: 1/3;
  text-align: center;
}

.quiz-creator {
  grid-column: 3/4;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  justify-self: right;
}
.quiz-score {
  grid-column: 3/4;
  justify-self: right;
}

.question {
  background-color: lightgreen;
  padding: 30px;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-auto-rows: minmax(50px, auto);
}
.question .q {
  font-weight: bolder;
  font-size: 50px;
  justify-self: center;
}

.question p {
  align-self: center;
}
.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.options .option {
  justify-self: stretch;
  align-self: center;
  background-color: lightgreen;
  padding: 10px;
}
.option input[type="checkbox"] {
  margin: 20px;
  size: 20px;
}

.quiz-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  color: white;
  text-transform: uppercase;
}

.quiz-nav > a {
  padding: 10px;
  text-align: center;
  color: white;
}

.quiz-nav .submit {
  grid-column: 5/6;
}

/*****Quiz Info Card ********/

.quiz-list-category {
  display: grid;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  gap: 5px;
}

.categories > a {
  background-color: aqua;
  height: minmax(40px, auto);
  width: 100px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: grid;
}
.categories > a > span {
  align-self: center;
}

.quiz-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.quiz-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: minmax(50px, auto);
  padding: 20px;
  width: 250px;
  background-color: burlywood;
}

.quiz-info-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: baseline;
}
.quiz-name {
  grid-column: 1/3;
  align-self: center;
  font-size: large;
  font-weight: 400;
}
.quiz-attempt {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.quiz-attempt button {
  padding: 8px;
  border: none;
  background-color: lightgreen;
}

.quiz-details {
  justify-self: right;
  text-align: right;
}

/** Question Navigator ***/

.question-navigator {
  grid-column: 1/2;
  border-right: 1px dashed rosybrown;
  max-height: 80vh;
  overflow-y: auto;
}

.question-navigator {
  display: flex;
  flex-direction: column;
}
.question-navigator a {
  padding: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
}
.question-navigator a:nth-child(odd) {
  padding: 20px;
  background-color: lightgrey;
  color: black;
}

/*****/
.marked {
  background-color: purple !important;
  color: wheat;
}

/***ScoreCard *****/

.scorecard {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-content: center;
}

.scorecard .res {
  justify-self: center;
  align-self: center;
  text-align: center;
}

/*** New Quiz Form **/

.for-guest-user {
  display: grid;
  width: 100vw;
  justify-content: center;
  align-content: center;
}
