.navbar {
  display: grid;
  grid-template-columns: 5fr 3fr;
  border-bottom: 1px solid darkkhaki;
  grid-auto-rows: minmax(50px, auto);
  text-transform: uppercase;
  font-family: monospace;
  font-size: 15px;
  background-color: #607d8b;
  color: white;
}
.navbar .brand-name a {
  color: white;
}

.navbar .brand {
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand .brand-icon {
  grid-column: 1/2;
}

.brand-name {
  align-self: center;
}

.navbar .menu {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 1000px) {
  .navbar .menu {
    justify-self: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}

@media only screen and (max-width: 500px) {
  .navbar .menu {
    justify-self: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

.menu .item {
  border-right: 2px solid #e8ebed;
  align-self: stretch;
  display: grid;
}

.menu .item:hover,
.menu .item:hover > a {
  background-color: #009688;
  font-size: 20px;
  font-weight: bolder;
}

.menu .item:last-child {
  border: none;
}

.menu .item a {
  color: white;
  align-self: center;
}
