.navbar {
  display: grid;
  grid-template-columns: 60vw 40vw;
  border-bottom: 1px solid darkkhaki;
  grid-auto-rows: minmax(50px, auto);
  text-transform: uppercase;
  font-family: monospace;
  background-color: #607d8b;
  color: white;
}
.navbar .brand-name a {
  color: white;
}

.navbar .brand {
  justify-self: start;
  align-self: center;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brand .brand-icon {
  grid-column: 1/2;
}

.brand-name {
  align-self: center;
  font-size: 15px;
}

.navbar .menu {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  justify-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
}

/* @media only screen and (max-width: 1000px) {
  .navbar .menu {
    justify-self: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}

@media only screen and (max-width: 500px) {
  .navbar .menu {
    justify-self: center;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
} */

.menu .item {
  /* align-self: stretch;
  display: grid; */
  justify-self: stretch;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.menu .item:last-child {
  border: none;
}

.menu .item a {
  color: white;
  align-self: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 10px;
  position: relative;
}

.menu .item a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu .item a:hover:after {
  width: 100%;
  left: 0;
}

.menu .item:last-child a {
  border: none !important;
}
