/***colors**/

.primary-color {
  background-color: lightseagreen;
}
.secondary-color {
  background-color: deepskyblue;
}

.success-color {
  background-color: lightgreen;
  color: black !important;
}

.danger-color {
  background-color: crimson;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(600px, auto);
  border: 1px solid black;
}
