/***colors**/

.primary-color {
  background-color: #009688;
}
.secondary-color {
  background-color: #607d8b;
}

.success-color {
  background-color: #b0fe76;
  color: black !important;
}

.danger-color {
  background-color: #e4572e;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(600px, auto);
  border: 1px solid black;
}
